server:
  reactive:
    session:
      cookie:
        http-only: true
        secure: true
        same-site: lax
  compression:
    enabled: false
  forward-headers-strategy: framework

auth:
  type: DISABLED

management:
  endpoint:
    info:
      enabled: true
    health:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "info,health,prometheus"

logging:
  level:
    root: INFO
    com.provectus: DEBUG
    reactor.netty.http.server.AccessLog: INFO
    org.hibernate.validator: WARN

